.App {
  width: 100%;
  min-height: 100vh;
  background: #0f0821;
  display: flex;
  flex-direction: column;
}

.App-header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

